body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  view {
    background: url("image-traitee.jpg")no-repeat center center;
    background-size: cover;
  }
  .image-front{
    position: absolute;
    width:100%;
    transform: scaleX(1.05);
    height:105%;
  z-index: -1;
    left:-2px;
  }
  nav{
    font-size: 20px;
  }
  nav .titre{
    font-size: 35px;
    margin-top:-5px;
  }
  nav div{
    transform: translate(10%,-5px);
    color:blueviolet;
  }
  nav div.menu::after{
  content:'';
  position: absolute;
  height: 2px;
  width:90%;
  background-color: rgb(102, 80, 122,.5);
  transform: translate(-12%, 24px);
  }
  nav p{
    position: absolute;
    margin-top:-15px;
    font-size:17px;
    color:rgb(102, 80, 122,.5);
    font-style: italic;
  margin-left: 6%;
  }
  

  @media screen and (max-width: 520px) {
    .h1 {
        position: absolute;
        width:40%;
        text-align: center;
        transform: translateY(50px);
        color:rgb(217, 118, 236);
    font-size: 25px;
        transition: .5s;
}

.login{
    position: absolute;
    background: rgb(47, 7, 99);
    background: radial-gradient(circle at 100px 100px, rgb(78, 32, 138),rgb(10, 2, 78));
    color:rgb(152, 126, 245);
    width:160px;
    height:55px;
    padding: 10px;
    transform: translate(140px,200px);
    border-radius: 30px;
    font-size: 25px;
    letter-spacing: 2px;
    box-shadow: 2px 5px 15px .5px rgba(0,0,0,.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
    transition: 1s;
  z-index: 5;
  }
  .login:hover{
    box-shadow: 2px .5px .5px .5px rgba(0,0,0,.5);
    background: rgb(47, 7, 99);
  color:rgb(177, 29, 236)
  }

    }


  @media screen and (min-width: 521px) {

    .h1{
        position: absolute;
        width:40%;
        text-align: center;
        transform: translateY(120px);
        color:rgb(217, 118, 236);
        font-size: 40px;
        transition: .5s;

      }
    
  .login{
    position: absolute;
    background: rgb(47, 7, 99);
    background: radial-gradient(circle at 100px 100px, rgb(78, 32, 138),rgb(10, 2, 78));
    color:rgb(152, 126, 245);
    width:160px;
    height:55px;
    padding: 10px;
    transform: translate(90px,300px);
    border-radius: 30px;
    font-size: 25px;
    letter-spacing: 2px;
    box-shadow: 2px 5px 15px .5px rgba(0,0,0,.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
    transition: 1s;
  z-index: 5;
  }
  .login:hover{
    box-shadow: 2px .5px .5px .5px rgba(0,0,0,.5);
    background: rgb(47, 7, 99);
  color:rgb(177, 29, 236)
  }
  }



  /*code css bloc de sensibilisation*/


    .bloc-presentation{
      top:600px;
      display:block;
      height:70vh;
      position: relative;
    }
  


  .bloc-presentation .titre1{
text-align: center; 
font-size: 7vh;
color:rgb(78, 32, 138);
}


.bloc-presentation .services{
  margin-top:20px;
  width:98%;
  margin-left:1%;
  height:70%;
}

.bloc-presentation .services .path{
  float:left;
  width:28%;
  height:73vh;
  margin-top:30px;
  margin-left: 3vh;
}


.bloc-presentation .services .path .head{
  height:40%;
  width:90%;
  margin-left:5%;

}

.bloc-presentation .services .path .head img{
  width:70%;
  margin-left:12%;
  height:80%;
}

.bloc-presentation .services .path .foot{
  height:60%;
  width:100%;
  text-align:center

}


.bloc-presentation .services .path .foot h3{
  color:rgba(43, 13, 100, 0.9);
  font-size:4vh;
}

.bloc-presentation .services .path .foot p{
  margin-top:20px;
  margin-left:10%;
  width:80%;
  color:grey;
  font-size:2.5vh;
}

  
  /*code css bloc signalement des cas*/

.new-case{
  display:block;
  height:300px;
  top:750px;
  position: relative;
z-index: 1;
overflow: hidden;
left:-20px;
}



.new-case::before{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  z-index: 0;
  background-color: rgba(0,0,0,.7);
}
.new-case img{
  position: absolute;
  z-index: -1;
  width:100%;
  height:105%;
margin-left: -20px;
animation: 10s animation1 infinite;
}


.new-case  a{
  color:rgb(199, 140, 238);
  font-size:5vh;
}

.new-case  a:hover{
  text-decoration: none;
}

.new-case a div.bouton-cas{
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 75vh;
  height:70px;
  border:3px solid rgb(199, 140, 238);
  margin-top:100px;
  padding-top:10px;
  text-align:center;
  background-color: rgba(43, 13, 100, 0.5);

  border-radius: 10px;
transition: 1s;
}


.new-case a div.bouton-cas:hover{
border:3px solid white;
color:white;
}




  /*code css bloc de sensibilisation*/

  .sensibilisation{
    top:800px;
    display:block;
    height:1000px;
    position: relative;
  }

.sensibilisation .part1{
  height:45%;
  width:99%;





}


.sensibilisation .part1 .titre2{
  text-align: center; 
  font-size: 7vh;
  color:rgb(78, 32, 138);
}


.sensibilisation .part1 .contenu div.elem{
  float:left;
}

.sensibilisation .part1 .contenu div.img{
  width:40%;
  
}

.sensibilisation .part1 .contenu div img{
  width:100%;
  height:40vh;
}



.sensibilisation .part1 .contenu div.symptome{
  width:58%;
  margin-left:0%;
  height:55vh;
}

.sensibilisation .part1 .contenu div.symptome .elem2{
  float:left;
  width:45%;
  margin-left: 2.5%;
  height:20vh;
margin-top:40px;
}

.sensibilisation .part1 .contenu div.symptome .elem2 .li{
float:left;
}
.sensibilisation .part1 .contenu div.symptome .elem2 .li img{
  width:20%;
  height:70%;
}

.sensibilisation .part1 .contenu div.symptome .elem2 .text{
width:65%;
margin-left: 30%;
margin-top:-50px;
font-size:3vh;
}

.sensibilisation .part2 .titre2{
  color:grey;
  font-size: 5vh;
  text-align: center;
  color:rgb(47, 7, 99)
}


.sensibilisation .part2 .elem3{
  float:left;
  margin-top:40px;  
}


.sensibilisation .part2 .image img{
  width:40vh;
  height:50vh;
  margin-top:-30px;
  border-radius: 0 0 50% 0;
}
.sensibilisation .part2 .slider{
  margin-left:10%;
}
  @keyframes animation1{
    0%{
      transform: scale(1) translate(0,0);
    }
    50%{
      transform: scale(1.1) translate(10px,10px);
    }
    100%{
      transform: scale(1) translate(0,0);
    }
  }




  .map{
    top:800px;
    display:block;
    height:500px;
    position: relative;
    border:1px solid red;
  }